// Подключение шрифтов
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// Шрифт по умолчанию
$fontSize: 16px;
$font: "Lato", serif;

// Общие параметры
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  font-size: clamp(14px, 1.5vw, $fontSize);
  font-family: $font;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background-color: #ffffff;

  > * {
    min-width: 0;
  }
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: clamp(10px, 2vw, 40px) clamp(16px, 4vw, 40px) clamp(40px, 6vw, 80px);
}

.visually-hidden {
  display: none;
}
